html {

   --pripary-colot: #F5DEB3;
   --secondary-color:#BCA77E;
   --focus-color: rgba(255, 238, 202, .2);
   --font-color: #005B4C;
}

.container {
   width: 100%;
   margin: 0 auto;
   color: var(--font-color);
}

.page__wrapper {
   width: 90vw;
   margin: 0 auto;
}

.page__title {
   display: block;
   width: 100vw;
   text-align: center;
   font-size: 2em;
   letter-spacing: 3px;
}

.icon {
   margin-right: 12px;
   border: solid 8px #F5DEB3;
   border-radius: 50%;
 } 

.icon__img {
   width: 100px;
   height: 100px;
   padding: 12px;
   transform: rotate(30deg);
 }

 .button {
   width: 80px;
   height: 80px;
   margin-top: 20px;
   font-size: 1.2em;
   color: var(--font-color);
 
   outline: none;
   background-color: transparent;
   border: solid 3px #F5DEB3;
   border-radius: 50%;
 }
 
 .button:active {
   transform: scale(.9);
 }

 .stopper {
   width: 235px;
   margin: 25px 40px 0;
   font-size: 3.5em;
   letter-spacing: 4px;

   display: flex;
   justify-content: space-between;
 }