.header {
  margin-bottom: 20px;
  display: flex;
}

.checkbox__menu {
  flex: 2;
  font-size: 1.4em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.checkbox__menu__section {
  width: 40%;
  height: 50px;
  padding-left: 10px;

  display: flex;
  align-items: center;

  background-color: var(--pripary-colot);
  border-radius: 10px;
}

.input__num {
  width: 80px;
  margin-left: 10px;
  font-size: .8em;
  text-align: end;
  outline: none;
}

.lable {
  width: 100%;
  padding: 15px;
}

.stopwatch__section {
  width: 100%;
  min-height: 100px;
  padding:0 0 20px 8%;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  margin: 25px 40px 0;
  font-size: 8vw;
  letter-spacing: 4px;
}

.list__section {
  width: min(1240px, 100%);
  margin: 20px auto;
  border: solid 2px var(--secondary-color);
  border-radius: 5px;
}

.table {
  font-size: 1.2em;

  display: flex;
  flex-direction: column;
}

.table__row {
  width: 100%;
  border-bottom: solid 1px var(--pripary-colot);
  display: flex;
}

.table__row td:first-child {
  border-left: none;
}

.body__row:last-child {
  border-bottom: none;
}

.table__item {
  width: 20%;
  padding: 3px;
  border-left: solid 1px var(--pripary-colot);
  text-align: center;
}